<div class="flex bg-zinc-700  mx-2 rounded-xl">
    <div class="container mx-auto h-20 max-w-6xl p-2 px-2 sm:px-4 lg:px-8 justify-center">
        <header class="flex items-center justify-between">
            <div class="flex">
                <div>
                    <a href="{{ site.baseurl }}/"><img src="{{ site.avatar }}"
                            class="rounded-full h-10 w-10 sm:h-16 sm:w-16" /></a>
                </div>
                <div>
                    <h1 class="px-2 pt-0 sm:pt-4 text-lg sm:text-xl font-bold"><a class="text-gray-200"
                            href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
                    <p class="text-gray-200 px-2 text-xs">{{ site.description }}</p>
                </div>
            </div>

            <nav>
                <a class="bg-gray-700 hover:bg-gray-600 hover:text-white text-gray-300 px-4 py-2 rounded-md text-sm font-medium"
                    href="{{ site.baseurl }}/">Blog</a>
                <a class="bg-gray-700 hover:bg-gray-600 hover:text-white text-gray-300 px-4 py-2 rounded-md text-sm font-medium"
                    href="{{ site.baseurl }}/about">About</a>
            </nav>
        </header>
    </div>
</div>